Repository SebastiaWeb/nexus-auth, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: core, pkg: typeorm-adapter, pkg: prisma-adapter, pkg: mongoose-adapter, pkg: sql-adapter, pkg: providers, pkg: nextjs-helpers, pkg: nestjs-helpers, pkg: express-helpers, documentation, area: testing, area: ci-cd, area: types, dependencies

fix: update GitHub username placeholders
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/workflows/greet.yml
Labels: documentation, area: ci-cd

fix: update GitHub username in README links
  README.md
Labels: documentation

refactor: update examples to use @nexusauth package names
  docs/examples/express-typeorm/package.json
  docs/examples/express-typeorm/src/config/nexus-auth.ts
  docs/examples/express-typeorm/src/middleware/authenticate.ts
  docs/examples/express-typeorm/src/routes/protected.ts
  docs/examples/nestjs-mongodb/package.json
  docs/examples/nestjs-mongodb/src/app.module.ts
  docs/examples/nestjs-mongodb/src/auth/auth.service.ts
  docs/examples/nestjs-mongodb/src/users/users.controller.ts
  docs/examples/nextjs-prisma/app/dashboard/page.tsx
  docs/examples/nextjs-prisma/lib/auth.ts
  docs/examples/nextjs-prisma/middleware.ts
  docs/examples/nextjs-prisma/package.json
Labels: documentation

refactor: update all documentation and config files to @nexusauth
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/labels.yml
  .github/pull_request_template.md
  ARCHITECTURE.md
  CHANGELOG.md
  CONTRIBUTING.md
  MONOREPO_GUIDE.md
  VERSIONING.md
  package.json
  packages/express-helpers/README.md
  packages/mongoose-adapter/README.md
  packages/nestjs-helpers/README.md
  packages/nextjs-helpers/README.md
  packages/prisma-adapter/README.md
  packages/providers/README.md
  packages/sql-adapter/README.md
  packages/typeorm-adapter/README.md
  tsconfig.base.json
Labels: pkg: typeorm-adapter, pkg: prisma-adapter, pkg: mongoose-adapter, pkg: sql-adapter, pkg: providers, pkg: nextjs-helpers, pkg: nestjs-helpers, pkg: express-helpers, documentation, dependencies

refactor: update JSDoc module references to @nexusauth
  packages/core/src/index.ts
  packages/core/src/lib/provider.ts
  packages/core/src/lib/types.ts
  packages/express-helpers/src/index.ts
  packages/express-helpers/src/lib/middleware.ts
  packages/nestjs-helpers/src/index.ts
  packages/nestjs-helpers/src/lib/auth.guard.ts
  packages/nestjs-helpers/src/lib/decorators.ts
  packages/nestjs-helpers/src/lib/nexus-auth.module.ts
  packages/nestjs-helpers/src/lib/nexus-auth.service.ts
  packages/nextjs-helpers/src/index.ts
  packages/nextjs-helpers/src/lib/app-router.ts
  packages/nextjs-helpers/src/lib/middleware.ts
  packages/nextjs-helpers/src/lib/pages-router.ts
  packages/providers/src/index.ts
  packages/providers/src/lib/facebook.ts
  packages/providers/src/lib/github.ts
  packages/providers/src/lib/google.ts
  packages/providers/src/lib/microsoft.ts
Labels: pkg: core, pkg: providers, pkg: nextjs-helpers, pkg: nestjs-helpers, pkg: express-helpers, area: types

refactor: update vite config names to @nexusauth
  packages/mongoose-adapter/vite.config.ts
  packages/prisma-adapter/vite.config.ts
  packages/sql-adapter/vite.config.ts
Labels: pkg: prisma-adapter, pkg: mongoose-adapter, pkg: sql-adapter

fix: replace bcrypt with bcryptjs for Windows compatibility
  docs/examples/express-typeorm/tsconfig.json
  docs/examples/nestjs-mongodb/tsconfig.json
  packages/core/package.json
  packages/core/src/lib/auth.ts
  packages/core/src/lib/password.ts
  packages/express-helpers/package.json
  packages/mongoose-adapter/package.json
  packages/nestjs-helpers/package.json
  packages/nextjs-helpers/package.json
  packages/prisma-adapter/package.json
  packages/providers/package.json
  packages/sql-adapter/package.json
  packages/typeorm-adapter/package.json
  pnpm-lock.yaml
Labels: pkg: core, pkg: typeorm-adapter, pkg: prisma-adapter, pkg: mongoose-adapter, pkg: sql-adapter, pkg: providers, pkg: nextjs-helpers, pkg: nestjs-helpers, pkg: express-helpers, documentation, dependencies

docs: fix API documentation inconsistencies
  README.md
  docs/best-practices/security.md
  docs/examples/express-typeorm/src/config/nexus-auth.ts
  docs/examples/express-typeorm/src/routes/auth.ts
  docs/examples/nestjs-mongodb/src/app.module.ts
  docs/examples/nestjs-mongodb/src/auth/auth.service.ts
  docs/examples/nextjs-prisma/README.md
  docs/examples/nextjs-prisma/app/api/auth/signin/route.ts
  docs/examples/nextjs-prisma/app/api/auth/signup/route.ts
  docs/examples/nextjs-prisma/lib/auth.ts
  docs/getting-started/02-quick-start.md
  docs/getting-started/03-oauth-setup.md
  docs/getting-started/04-schema-mapping.md
  docs/getting-started/05-nextjs-integration.md
  docs/migration-guides/from-authjs.md
  docs/migration-guides/from-passport.md
  guides/getting-started-express.md
  guides/getting-started-nestjs.md
  guides/getting-started-nextjs.md
  guides/migration-from-authjs.md
  guides/migration-from-passport.md
  packages/core/package.json
  packages/express-helpers/package.json
  packages/mongoose-adapter/package.json
  packages/nestjs-helpers/package.json
  packages/nextjs-helpers/package.json
  packages/prisma-adapter/package.json
  packages/providers/package.json
  packages/sql-adapter/package.json
  packages/typeorm-adapter/package.json
Labels: pkg: core, pkg: typeorm-adapter, pkg: prisma-adapter, pkg: mongoose-adapter, pkg: sql-adapter, pkg: providers, pkg: nextjs-helpers, pkg: nestjs-helpers, pkg: express-helpers, documentation, dependencies

docs: remove public roadmap and future feature references
  .github/SUPPORT.md
  README.md
  docs/examples/express-typeorm/README.md
Labels: documentation

test: add comprehensive provider and adapter tests
  docs/examples/nextjs-prisma/docker-compose.yml
  docs/examples/nextjs-prisma/lib/auth.ts
  docs/examples/nextjs-prisma/package.json
  docs/examples/nextjs-prisma/prisma/schema.prisma
  package.json
  packages/mongoose-adapter/src/lib/mongoose-adapter.spec.ts
  packages/prisma-adapter/src/lib/prisma-adapter.spec.ts
  packages/providers/src/lib/providers.test.ts
  packages/sql-adapter/src/lib/sql-adapter.spec.ts
  pnpm-lock.yaml
  scripts/validate-providers.ts
Labels: pkg: prisma-adapter, pkg: mongoose-adapter, pkg: sql-adapter, pkg: providers, documentation, area: testing, area: ci-cd, dependencies

feat: now unit test in adapter
  .gitignore
  packages/core/tsconfig.lib.json
  packages/express-helpers/src/lib/middleware.spec.ts
  packages/express-helpers/tsconfig.lib.json
  packages/nestjs-helpers/src/lib/auth.guard.spec.ts
  packages/nestjs-helpers/src/lib/decorators.spec.ts
  packages/nestjs-helpers/tsconfig.lib.json
  packages/nextjs-helpers/src/lib/app-router.spec.ts
  packages/nextjs-helpers/src/lib/pages-router.spec.ts
  packages/nextjs-helpers/tsconfig.lib.json
  packages/providers/tsconfig.lib.json
  packages/typeorm-adapter/src/lib/typeorm-adapter.spec.ts
  packages/typeorm-adapter/tsconfig.lib.json
  packages/typeorm-adapter/tsconfig.spec.json
  packages/typeorm-adapter/vite.config.ts
Labels: pkg: core, pkg: typeorm-adapter, pkg: providers, pkg: nextjs-helpers, pkg: nestjs-helpers, pkg: express-helpers, area: testing

.github/labeler.yml:

# Auto-labeler configuration
# Labels PRs based on changed files

# Package Labels
'pkg: core':
  - changed-files:
    - any-glob-to-any-file: 'packages/core/**/*'

'pkg: typeorm-adapter':
  - changed-files:
    - any-glob-to-any-file: 'packages/typeorm-adapter/**/*'

'pkg: prisma-adapter':
  - changed-files:
    - any-glob-to-any-file: 'packages/prisma-adapter/**/*'

'pkg: mongoose-adapter':
  - changed-files:
    - any-glob-to-any-file: 'packages/mongoose-adapter/**/*'

'pkg: sql-adapter':
  - changed-files:
    - any-glob-to-any-file: 'packages/sql-adapter/**/*'

'pkg: providers':
  - changed-files:
    - any-glob-to-any-file: 'packages/providers/**/*'

'pkg: nextjs-helpers':
  - changed-files:
    - any-glob-to-any-file: 'packages/nextjs-helpers/**/*'

'pkg: nestjs-helpers':
  - changed-files:
    - any-glob-to-any-file: 'packages/nestjs-helpers/**/*'

'pkg: express-helpers':
  - changed-files:
    - any-glob-to-any-file: 'packages/express-helpers/**/*'

# Area Labels
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - 'guides/**/*'

'area: testing':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/test/**/*'
      - '**/tests/**/*'

'area: ci-cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - 'scripts/**/*'

'area: types':
  - changed-files:
    - any-glob-to-any-file:
      - '**/types.ts'
      - '**/*.d.ts'

'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'packages/*/package.json'
      - 'pnpm-lock.yaml'
